<% layout('layout') -%>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top:20px">
      <div class="container">
        <h1>Web Rock<span class="glyphicon glyphicon-star"></span></h1>
        <p>Automated Interviewer for Web Developers</p>
      </div>
    </div>
  
      <!-- Example row of columns -->
      <section id="web">
        <h2>Your key to find the <u>BEST</u> web developer</h2>
        <div class="container">
            <div class="row">
                <div class="col col-xs-4">
                    <span class="wrs-landing-icon glyphicon glyphicon-send"></span>
                    <h4>Automate</h4>
                    <p>Send the access information to prospective developer. Sitback and Enjoy.</p>
                </div>
                <div class="col col-xs-4">
                  <span class="wrs-landing-icon glyphicon glyphicon-tasks"></span>
                    <h4>Profiling</h4>
                    <p>Use your own custom testing techniques or use our state of the art testing templates to evaluate.</p>
                </div>
                <div class="col col-xs-4">
                    <span class="wrs-landing-icon glyphicon glyphicon-tree-deciduous"></span>
                    <h4>Grow</h4>
                    <p>Forget worrying about bad candidates, let us do the dirty job of weeding them out.</p>
                </div>
            </div>
        </div>
      </section>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

