/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top:50px;
	padding-bottom:20px;
}

#solution {
	width: 100%;
	position: relative;
}

#fileList, #fileList li, #fileList ul {
	list-style:none;
}
#fileList {
	height:600px;
	width:20%;
	position:relative;
	box-sizing:border-box;
	float:left;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
}
#codeEditor ~ .CodeMirror {
	position:relative;
	margin-left:2px;
	box-shadow:0 0 10px rgba(0,0,0,0.3);
	height:600px;
	width: 80%;
}

#fileList li.active {
	font-weight: bold;
}

.sql-editor {
	position: absolute;
	top: 45%;
	left: 20%;
	z-index: 13;
	height: 47%;
	width: 80%;
	background-color: rgba(0,0,0, 0.1);
	display: none;
	-webkit-transition: display 1.5s ;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 10%, #fcfcfc 15%);
	overflow: auto;
}
.show-editor {
	display: block;

}
.play-button {
	    height: 28px;
	        width: 46px;
		margin-top: 5px;    
		    background-color: rgba(0, 0, 0, 0.7);
		        border-radius: 5px;
			    position: relative;
}

.play-button:hover {
	    background-color: rgba(0, 173, 239, 0.9);
}

.play-button:after {
	    content: "";
	        display: block;
		    position: absolute;
		        top: 4.5px;
			    left: 17px;
			        margin: 0 auto;
				    border-style: solid;
				        border-width: 9.5px 0 9.5px 17px;
					    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

.bts{
	margin: 10px;
}


body section {
text-align: center;
padding: 100px 0;
border-bottom: 1px solid #eee;
}

body section#web .col img {
margin: 20px;
width: 100px;
}
